@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800|Open+Sans:300,400,600,700,800|VT323&display=swap');

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}